<h1>Cadastro</h1>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
  <div class="field">
    Nome <br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Email <br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  Idade<br />
    <%= f.text_field :idade %>
  </div>
  <div class="field">
    Senha<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Confirma&ccedil;&atilde;o de Senha<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

